<p>error-page works!</p>


<ul>
    <li>
        <a routerLink="/auth/login">
            Go to Login
        </a>
    </li>

    <li>
        <a routerLink="/auth/register">
            Go to Register
        </a>
    </li>

    <li>
        <a routerLink="/heroes/list">
            Go to List
        </a>
    </li>

    <li>
        <a routerLink="/heroes/add">
            Go to Add
        </a>
    </li>

    <li>
        <a routerLink="/heroes/edit/:id">
            Go to Edit
        </a>
    </li>

    <li>
        <a routerLink="/heroes/search">
            Go to Search
        </a>
    </li>

    <li>
        <a routerLink="/heroes/id">
            Go to Id
        </a>
    </li>
</ul>